/* DM Sans 36pt */

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-ExtraBold.woff') format('woff');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-ExtraBoldItalic.woff') format('woff');
    font-weight: 800; /* ExtraBold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-ExtraLight.woff') format('woff');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-Italic.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Non-Italic Variants (User Requested) */
@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-Light.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-Bold.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-Medium.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-SemiBold.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 36pt';
    src: url('../fonts/dm-sans/DMSans36pt-Regular.woff2') format('woff2'),
        url('../fonts/dm-sans/DMSans36pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}